.body {
  background-color: #e6410e
}

.display-3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-logo {
  width: 50px;
}

.cat-index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  margin-left: 20px;
}

.cat-description-wrapper {
  padding: 10px;
  /* border: 0.5px solid #d3c0bf; */
  background-color: #F8F8F8;
}

.cats-display-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-wrapper {
  padding: 0 40px 40px 40px;
}
