.display-3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-logo {
  width: 60px;
}

.cat-index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  margin-left: 20px;
}

.cat-description-wrapper {
  padding: 10px;
  /* border: 0.5px solid #d3c0bf; */
  background-color: #F8F8F8;
}

.cats-display-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-wrapper {
  padding: 0 40px 40px 40px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 80%;
}

.jumbotron.jumbotron-fluid {
  padding: 10px 0px;
}

@media only screen and (min-width: 600px) {
  .form-group {
    width: 480px;
  }
}
