.app-title {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-logo {
  width: 60px;
  margin-right: 10px;
  margin-top: -25px;
}

.cat-index-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.link {
  margin-left: 20px;
}

.cat-description-wrapper {
  padding: 10px;
  /* border: 0.5px solid #d3c0bf; */
  background-color: #F8F8F8;
  width: 100%;
}

.cats-display-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-wrapper {
  padding: 0 40px 40px 40px;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 80%;
}

.header-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-subtitle {
  font-size: 20px;
  font-weight: 300;
}


.lead {
  text-align: center;
}

.cat-spotlight-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.cat-profile-wrapper.list-group {
  margin: 50px 0px 50px 0px;
}

.cat-wrapper-spotlight.list-group {
  padding: 0px;
  margin: 20px 0px;
}

footer {
  font-size: 12px;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subtitle {
  text-align: center;
  margin-top: 30px;
}

.like-buttons-wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cat-wrapper-profile.list-group {
  padding: 0px;
  margin: 20px 0px;
}

.cat-profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-jumbotron {
  background: rgb(237,53,53);
  background: linear-gradient(90deg, rgba(237,53,53,1) 0%, rgba(255,96,47,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  margin-bottom: 40px;
  width: 100%;
  color: white;
}

.home-title {
  text-align: center;
  font-size: 40px;
}

.home-subtitle {
  font-size: 22px;
  font-weight: 300;
}

.form-control {
  margin-bottom: 5px;
}

.messages-title {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .form-group {
    width: 480px;
  }
}
